// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';


.bg-dark{
    background-color: #2d5135 !important;
}

.bg-dark2{
    background-color: #9b8322 !important;
}

.logo_200{
    width: 400px;
}

.myModal{
    background-color: rgba(13, 204, 99, 0.568) !important;
}