// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-dark{
    background-color: #00838f !important;
}

.bg-dark2{
    background-color: #003e44 !important;
}

.logo_200{
    width: 400px;
}

.myModal{
    background-color: rgba(13, 204, 99, 0.568) !important;
}